h1 {
  color: #0a0a0a;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

section {
  margin: 0 auto;
  width: 50%;
  padding: 140px 0 10px;
}

html {
  scroll-behavior: smooth;
}

span {
  color: #0a0a0a;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  top: 10px;
  display: flex;
  justify-content: center;
}

button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #f5727a;
  color: #ffffff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  display: flex;
}

button:hover {
  background-color: #a92227;
  box-shadow: 0 0 20px #a92227;
  transform: scale(1.1);
}

button:active {
  background-color: #e4c8f1;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

p {
  color: #0a0a0a;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  top: 75px;
  position: relative;
}

footer {
  background-color: #f5727a;
  height: 90px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}
