body {
    background-color: #FCEEDD;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #F5727A;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    padding-top: 20px;
}

h1 {
    color: #0a0a0a;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    margin: 0 auto;
    width: 60%;
    padding: 140px 0 10px;
}

p {
    color: #0a0a0a;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    top: 130px;
}

button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #f1c8c8;
    color: #ffffff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

button:hover {
    background-color: #9d32ce;
    box-shadow: 0 0 20px #c489df;
    transform: scale(1.1);
}

button:active {
    background-color: #e4c8f1;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

footer {
    background-color: #2C8CCF;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}